@charset "UTF-8";
@font-face {
  font-family: 'iconfont';
  src: url("//at.alicdn.com/t/font_452405_sp1hrhl5pi7ldi.eot");
  src: url("//at.alicdn.com/t/font_452405_sp1hrhl5pi7ldi.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_452405_sp1hrhl5pi7ldi.woff") format("woff"), url("//at.alicdn.com/t/font_452405_sp1hrhl5pi7ldi.ttf") format("truetype"), url("//at.alicdn.com/t/font_452405_sp1hrhl5pi7ldi.svg#iconfont") format("svg");
}
.iconfont {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
}

body {
  flex-direction: column;
  background: #F1F1F1;
}

::-webkit-scrollbar {
  display: none;
}

#insurance-header {
  width: 100%;
  height: 1.1rem;
  /*高度自己量*/
  background: #fff;
  /*背景自己量*/
  border-bottom: solid 1px #DFDFDF;
  box-sizing: border-box;
  overflow: hidden;
}
#insurance-header .select {
  width: 3.8rem;
  height: .7rem;
  margin: .2rem auto;
  position: relative;
}
#insurance-header .select span {
  position: absolute;
  width: .52rem;
  height: .52rem;
  bottom: .1rem;
  right: -1rem;
}
#insurance-header .select span img {
  width: 100%;
}
#insurance-header .select p {
  box-sizing: border-box;
  border: solid 1px #FF602F;
  width: 50%;
  float: left;
  line-height: .66rem;
  text-align: center;
  color: #FF602F;
  background: #fff;
  font-size: .26rem;
}
#insurance-header .select p:nth-of-type(1) {
  border-radius: 0.12rem 0 0 0.12rem;
}
#insurance-header .select p:nth-of-type(2) {
  border-radius: 0 0.12rem 0.12rem 0;
}
#insurance-header .select .active {
  background: #FF602F;
  color: #fff;
  transition: all .4s;
}

#insurance-main {
  position: relative;
}
#insurance-main .service {
  position: fixed;
  width: .9rem;
  height: .9rem;
  background: #fff;
  border-radius: 50%;
  left: .34rem;
  top: 7.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
#insurance-main .service img {
  width: .52rem;
}
#insurance-main .main1 {
  display: none;
}
#insurance-main .main1 .main1-nav {
  width: 100%;
  height: 4.36rem;
  background: #fff;
  border-bottom: solid 1px #DFDFDF;
}
#insurance-main .main1 .main1-nav ul {
  height: 50%;
  padding: 0 0.2rem;
}
#insurance-main .main1 .main1-nav ul li {
  overflow: hidden;
  height: 100%;
  width: 25%;
  float: left;
}
#insurance-main .main1 .main1-nav ul li a {
  display: block;
  width: 1.04rem;
  height: 1.04rem;
  margin: .3rem auto 0;
  border-radius: 50%;
  border: solid 1px #FF602F;
  position: relative;
}
#insurance-main .main1 .main1-nav ul li a img {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#insurance-main .main1 .main1-nav ul li p {
  text-align: center;
  line-height: .6rem;
  font-size: .26rem;
  color: #333;
}
#insurance-main .main1 .selling {
  height: .96rem;
  margin: 0.24rem 0;
  background: #fff;
  overflow: hidden;
  position: relative;
}
#insurance-main .main1 .selling h2 {
  height: .48rem;
  width: 2.1rem;
  margin-top: .24rem;
  border-right: solid 1px #DFDFDF;
  position: relative;
}
#insurance-main .main1 .selling h2 img {
  position: absolute;
  height: .56rem;
  top: -.16rem;
  left: .24rem;
}
#insurance-main .main1 .selling .swiper-container1 {
  margin-top: .1rem;
  width: 3.7rem;
  height: .96rem;
  position: absolute;
  right: .1rem;
  line-height: .76rem;
  overflow: hidden;
  position: absolute;
  right: .1rem;
  top: 0;
}
#insurance-main .main1 .selling .swiper-container1 a {
  font-size: .24rem;
  color: #000;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#insurance-main .main1 .item {
  height: 3.85rem;
  background: #fff;
  box-sizing: border-box;
  padding: .24rem;
  border-bottom: solid 1px #DFDFDF;
  border-top: solid 1px #DFDFDF;
  margin-bottom: .24rem;
}
#insurance-main .main1 .item img {
  width: 100%;
  margin-bottom: .3rem;
}
#insurance-main .main1 .item p {
  line-height: .4rem;
  font-size: .3rem;
  color: #333;
}
#insurance-main .main1 .item2 {
  height: 4.45rem;
  background: #fff;
  box-sizing: border-box;
  padding: .24rem;
  border-bottom: solid 1px #DFDFDF;
  border-top: solid 1px #DFDFDF;
  margin-bottom: .24rem;
  position: relative;
}
#insurance-main .main1 .item2 img {
  width: 100%;
  margin-bottom: .3rem;
}
#insurance-main .main1 .item2 p {
  line-height: .4rem;
  font-size: .3rem;
  color: #333;
}
#insurance-main .main1 .item2 b {
  line-height: .6rem;
  font-size: .24rem;
  font-weight: 100;
  color: #666;
}
#insurance-main .main1 .item2 span {
  color: #FF7C54;
  font-size: .26rem;
  position: absolute;
  right: .3rem;
  bottom: .4rem;
}
#insurance-main .main2 {
  display: none;
}
#insurance-main .main2 .main1-nav {
  width: 100%;
  height: 4.36rem;
  background: #fff;
  margin-bottom: .24rem;
  border-bottom: solid 1px #DFDFDF;
}
#insurance-main .main2 .main1-nav ul {
  height: 50%;
  padding: 0 0.2rem;
}
#insurance-main .main2 .main1-nav ul li {
  overflow: hidden;
  height: 100%;
  width: 25%;
  float: left;
}
#insurance-main .main2 .main1-nav ul li a {
  display: block;
  width: 1.04rem;
  height: 1.04rem;
  margin: .3rem auto 0;
  border-radius: 50%;
  border: solid 1px #FF602F;
  position: relative;
}
#insurance-main .main2 .main1-nav ul li a img {
  position: absolute;
  width: 50%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#insurance-main .main2 .main1-nav ul li p {
  text-align: center;
  line-height: .6rem;
  font-size: .26rem;
  color: #333;
}
#insurance-main .main2 .item2 {
  height: 4.45rem;
  background: #fff;
  box-sizing: border-box;
  padding: .24rem;
  border-bottom: solid 1px #DFDFDF;
  border-top: solid 1px #DFDFDF;
  margin-bottom: .24rem;
  position: relative;
  overflow: hidden;
}
#insurance-main .main2 .item2 img {
  width: 100%;
  margin-bottom: .3rem;
}
#insurance-main .main2 .item2 p {
  line-height: .4rem;
  font-size: .3rem;
  color: #333;
}
#insurance-main .main2 .item2 b {
  display: block;
  line-height: .6rem;
  font-size: .24rem;
  font-weight: 100;
  color: #666;
  width: 4.4rem;
  height: .6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
#insurance-main .main2 .item2 span {
  color: #FF7C54;
  font-size: .26rem;
  position: absolute;
  right: .3rem;
  bottom: .4rem;
}
#insurance-main .show {
  display: block;
}

.insurance-footer #footer li:nth-child(2) a em{
    background-image: url(../images/zcImg/menu_ico2a.png);
}

